@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@utility font-features-inter {
	font-feature-settings:
		"liga" 1,
		"calt" 1,
		"dlig" 1,
		"case" 1,
		"zero" 1,
		"ss02" 1,
		"GRAD" 150;
}

html {
	--simple-scrollbar-width: 12px;
	--closed-aside-width: 3.5rem;
	--open-aside-width: 16rem;

	font-family: InterVariable, Inter, sans-serif;
	border-color: var(--color-border-smooth);
	-webkit-font-smoothing: antialiased;

	@apply tabular-nums font-features-inter;

	color: var(--color-primary);
	height: 100%;
	width: 100%;

	::selection {
		background-color: var(--color-accent);
		color: #fff;
	}

	content-visibility: auto;
	/* the element will start out with a 1000px intrinsic sizing in each dimension, but once the element's contents are rendered, it will retain the rendered intrinsic size. Any subsequent rendering size changes will also be remembered. In practice, this means that if you scroll an element with content-visibility: auto applied, and then scroll it back offscreen, it will automatically retain its ideal width and height, and not revert to the placeholder sizing. This feature is especially useful for infinite scrollers, which can now automatically improve sizing estimation over time as the user explores the page. */
	contain-intrinsic-size: auto 1000px;
}

::highlight(keyword) {
	color: #0000ff;
	font-weight: bold;
}

::highlight(string) {
	color: #a31515;
}

::highlight(comment) {
	color: #008000;
	font-style: italic;
}

::highlight(number) {
	color: #098658;
}

::highlight(operator) {
	color: #000000;
}

::highlight(function) {
	color: #795e26;
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--color-success: var(--success);
	--color-positive: var(--positive);
	--color-link: var(--link);
	--color-link-hover: var(--link-hover);
	--color-link-active: var(--link-active);
	--color-link-visited: var(--link-visited);
	--color-button-active: var(--button-active);
	--color-button-hover: var(--button-hover);
	--color-border-smooth: var(--border-smooth);
	/* --color-alt-row: var(--alt-row); */
}

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(37.15% 0.00004 271.152);
	--accent: oklch(33.394% 0.092 248.949);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);

	--simple-scrollbar-active-thumb-color: #7e7e7e;
	--simple-scrollbar-thumb-color: #a4a4a4;

	--success: oklch(34.911% 0.11691 141.819);
	--positive: oklch(34.911% 0.11691 141.819);
	--link: hsl(240deg 92.98% 54.72%);
	--link-hover: hsl(184.74deg 51.33% 15.43%);
	--link-active: hsl(243deg 93.91% 16.94%);
	--link-visited: hsl(268.12deg 100% 32.39%);
	--button-active: rgb(0 0 0 / 20%);
	--button-hover: rgb(0 0 0 / 10%);
	--border-smooth: rgb(167, 167, 167);
	--alt-row: oklch(87.302% 0.0001 271.152 / 0.294);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground;
	}
}

@custom-variant aside-closed {
	@container aside (width < 14rem) {
		@slot;
	}
}

@utility button-hover {
	@apply hover:bg-button-hover active:bg-button-active;
}

@custom-variant mobile {
	@media (width < 32rem) {
		@slot;
	}
}

@utility spinner-progress {
	width: 44px;
	height: 44px;
	animation: spinner-progress-animation 2s infinite ease;
	transform-style: preserve-3d;

	& > div {
		background-color: #004dff33;
		height: 100%;
		position: absolute;
		width: 100%;
		border: 2px solid #2e52a6;
	}

	& div:nth-of-type(1) {
		transform: translatez(-22px) rotatey(180deg);
	}

	& div:nth-of-type(2) {
		transform: rotatey(-270deg) translatex(50%);
		transform-origin: top right;
	}

	& div:nth-of-type(3) {
		transform: rotatey(270deg) translatex(-50%);
		transform-origin: center left;
	}

	& div:nth-of-type(4) {
		transform: rotatex(90deg) translatey(-50%);
		transform-origin: top center;
	}

	& div:nth-of-type(5) {
		transform: rotatex(-90deg) translatey(50%);
		transform-origin: bottom center;
	}

	& div:nth-of-type(6) {
		transform: translatez(22px);
	}
}

@keyframes spinner-progress-animation {
	0% {
		transform: rotate(45deg) rotatex(-25deg) rotatey(25deg);
	}

	50% {
		transform: rotate(45deg) rotatex(-385deg) rotatey(25deg);
	}

	100% {
		transform: rotate(45deg) rotatex(-385deg) rotatey(385deg);
	}
}

@utility simple-scrollbar {
	overflow: auto;

	&::-webkit-scrollbar {
		height: var(--simple-scrollbar-width);
		width: var(--simple-scrollbar-width);
		background: transparent;
	}

	&::-webkit-scrollbar-track {
		border-radius: var(--simple-scrollbar-width);
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: content-box var(--simple-scrollbar-thumb-color);
		border-radius: var(--simple-scrollbar-width);
		border: 2px solid transparent;
	}

	&::-webkit-scrollbar-thumb:active {
		background: content-box var(--simple-scrollbar-active-thumb-color);
	}

	&::-webkit-scrollbar-thumb:hover {
		background: content-box var(--simple-scrollbar-active-thumb-color);
	}

	&::-webkit-scrollbar-corner {
		background: transparent;
	}
}

@utility chat-grid {
	--gap: calc(var(--spacing) * 4); /* gap-4 */
	--full: minmax(0, 1fr);
	--content: calc(((min(48rem, 100% - var(--gap) * 4)) / 2) - (var(--gap) / 2));
	--parallel: minmax(0, 1fr);

	@apply mobile:[--gap:6px] @max-[32rem]:[--gap:6px];

	display: grid;

	grid-template-columns:
		[full-start] var(--full) [parallel-one-start] var(--parallel)
		[content-start] var(--content) [parallel-one-end gap-start] var(--gap)
		[gap-end parallel-two-start] var(--content)
		[content-end] var(--parallel) [parallel-two-end] var(--full) [full-end];
}

@utility chat-content {
	grid-column: content-start / content-end;

	@apply flex w-full list-none max-h-fit flex-col py-1 max-w-full wrap-anywhere;
}
@utility chat-parallel-one {
	grid-column: parallel-one-start / parallel-one-end;
}
@utility chat-parallel-two {
	grid-column: parallel-two-start / parallel-two-end;
}
@utility chat-parallel-msgs {
	grid-column: parallel-one-start / parallel-two-end;
}
@utility chat-full {
	grid-column: full-start / full-end;
}

@utility link {
	@apply text-link hover:text-link-hover active:text-link-active visited:text-link-visited;
}

@utility member-lg-grid {
	@apply grid;

	grid-template-rows: [info-row-start] 3rem [info-row-end];
	grid-template-columns: [avatar-start] 3rem [avatar-end name-start] 1fr [name-end
			actions-start] min-content [actions-end];
}
@utility member-xs-grid {
	@apply grid pb-1;

	row-gap: 0.5rem;

	grid-template-rows: [info-row-start] 3rem [info-row-end actions-row-start] min-content [actions-row-end];
	grid-template-columns: [avatar-start actions-start] 3rem [avatar-end
			actions-end name-start] 1fr [name-end];
}
@utility member-avatar {
	grid-row: info-row-start / info-row-end;
	grid-column: avatar-start / avatar-end;
}
@utility member-name {
	grid-row: info-row-start / info-row-end;
	grid-column: name-start / name-end;
}
@utility member-actions {
	grid-column: actions-start / actions-end;
	grid-template-columns: 1fr 1fr;

	@apply mobile:col-span-2 grid grid-rows-1 gap-2;
}

@utility filters-grid {
	grid-template-columns:
		[boolean-start] 66px [boolean-end property-start] minmax(min-content, 120px)
		[property-end operator-start] 120px
		[operator-end value-start] auto [value-end menu-start] 40px [menu-end];
}

@utility bot-plan-counter {
	&::before {
		counter-increment: index;
		content: counters(index, ".") ".";
	}
}
